body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background-color: #1a1a1a;
    color: #fff;
    line-height: 1.6;
}

header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #444;
    margin-bottom: -20px;
}

.haha {
    width: 70px;
    margin-left: 60px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #50c878; /* Warna hijau khas Slytherin */
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: url('../Image/slyherin\ bg.jpg') center/cover no-repeat;
    height: 80vh;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size:50px;
    color: #e0d990;
    text-shadow: 0px 0px 10px #50c878;
    text-align: center;
        font-family: "Galada", cursive;
        font-weight: 400;
        font-style: normal;
      
}

.hero-content p {
    font-size: 1.2rem;
    margin: 20px 0;
    text-align: center;
    font-family: "Benne", serif;
    font-weight: 400;
    font-style: normal;
      
      
}

.hero-image img {
    max-width: 250px;
    display: auto;
    transform: translate(-170px);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
    background-color: #2d2d2d;

}

.text-box {
    max-width: 50%;
}

.text-box h2 {
    font-size: 2rem;
    color: #50c878;
    margin-bottom: 20px;
}

.image-box img {
    max-width: 200px;
    border: 5px solid #50c878;
    border-radius: 10px;
}

.container-3 {
    width: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.thumbnail {
    width: 150px;
    justify-content: space-evenlyss;
}

.thumbnail img {
    width: 100%;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
    border-top: 1px solid #444;
}